# if

In [3]:
import math

In [7]:
if (1 == 4):
    print('if')
elif ( 2 == 4):
    print('elseif')
else:
    print('else')

else

In [5]:


if x > 0:
    y = math.log(x)
else:
    y = float('nan')
    
print(y)

1.6094379124341003

In [6]:
x = 5

y = math.log(x) if x > 0 else float('nan')

print(y)

1.6094379124341003

# while

In [8]:
while False:
    print('while')
else:
    print('else')

else

In [12]:
x = 10

while x:
    x -= 1
    if x % 2 != 0: continue
    print(x, end=' ')

8 6 4 2 0

In [5]:
def countdown(n):
    while n > 0:
        print(n)
        n=n-1 
    print('Blastoff!')
        
countdown(5)

5
4
3
2
1
Blastoff!

In [11]:
x = 4
a = 3


while True:
    print(x)
    y = (x + a/x) / 2
    if y == x:
        break 
    x=y

4
2.375
1.819078947368421
1.7341326020748071
1.7320520571470122
1.732050807569328
1.7320508075688772

In [9]:
import math
math.sqrt(50)

7.0710678118654755

# factors

In [18]:
y = 43531
x = y // 2 # For some y > 1 while x > 1:

while x > 1:
    if y % x == 0: 
        print(y, 'has factor', x)
        break # Skip else x = 1
    x -= 1
else: # Normal exit print(y, 'is prime') 
    print(y, ' is prime')

21765
43531 has factor 431

# For

In [19]:
for x in ["spam", "eggs", "ham"]: 
    print(x, end=' ')

spam eggs ham

In [20]:
D = {'a': 1, 'b': 2, 'c': 3} 

for (key, value) in D.items():
    print(key, '=>', value)

a => 1
b => 2
c => 3

# Read From Files

In [10]:
import pandas as pd

file_name = '/Users/davidsimbandumwe/dev/cuny/data_602/DATA602/data/avocado.csv'
df = pd.read_csv(file_name, index_col=0)
df.head(5)

,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [ ]:
file_name = '/Users/davidsimbandumwe/dev/cuny/data_602/DATA602/data/avocado.csv'

f = open(file_name, "r")
print(f.readlines(353))
f.close()

In [ ]:
with open('/Users/davidsimbandumwe/dev/cuny/data_602/DATA602/data/avocado.csv', 'r') as csvfile:
    print(csvfile.readline())

In [ ]:
file_name = '/Users/davidsimbandumwe/dev/cuny/data_602/DATA602/data/avocado.csv'
with open(file_name, 'r') as reader:
    for line in reader.readlines(363):
        print(line, end='')

In [ ]:
import csv

i = 0
max = 20


with open('/Users/davidsimbandumwe/dev/cuny/data_602/DATA602/data/avocado.csv', 'r') as csvfile:
    reader = csv.reader(csvfile, skipinitialspace=True)
    
    for row in reader:
        if i < max:
            print(row)
            i += 1
        else: break

# Text - JSON

In [3]:
z = {'default': {
            'version':1.0,
            'db':'mangodb',
            'uuid':'0fd7575d-d331-41b7-9598-33d6c9a1eae3'
        }
     }
 
z

{'default': {'version': 1.0,
  'db': 'mangodb',
  'uuid': '0fd7575d-d331-41b7-9598-33d6c9a1eae3'}}

In [4]:
z['a'] = {'r':'run','g':'go',1:4.5}
z

{'default': {'version': 1.0,
  'db': 'mangodb',
  'uuid': '0fd7575d-d331-41b7-9598-33d6c9a1eae3'},
 'a': {'r': 'run', 'g': 'go', 1: 4.5}}

In [5]:
z.get('default').get('uuid')

'0fd7575d-d331-41b7-9598-33d6c9a1eae3'

In [8]:
import json

r = json.dumps(z)
loaded_r = json.loads(r)
print('r:',type(r))
print('loader_r:', type(loaded_r))

r: <class 'str'>
loader_r: <class 'dict'>

In [9]:
loaded_r.get('default').get('uuid')

'0fd7575d-d331-41b7-9598-33d6c9a1eae3'