# Chapter 1: The way of the program

In [ ]:
print ('Hello World')

In [ ]:
40+1

In [ ]:
type('e')

In [ ]:
p = 5,4,3
type(p)

In [ ]:
tmp3 = 4*4
tmp3

In [ ]:
42*60+42

In [ ]:
10/1.61

In [ ]:
60*1.61

In [ ]:
2562/6.21/60

In [ ]:
0.876*60

# Chapter 2: Variables, expressions and statements

In [ ]:
n = 42
42 = n

In [ ]:
x = y = 1

In [ ]:
y

In [ ]:
import math

math.pi

In [ ]:
x += y;
x;

In [ ]:
x

2.2.1 The volume of a sphere with radius r is 43 Ï€r3. What is the volume of a sphere with radius 5?

In [ ]:
r = 5
4/3 * math.pi * r**3

2.2.3 If I leave my house at 6:52 am and run 1 mile at an easy pace (8:15 per mile), then 3 miles at tempo (7:12 per mile) and 1 mile at easy pace again, what time do I get home for breakfast?

In [ ]:
import numpy as np
m = 8 + (3*7) + 8 + 1
s = 15 + (3*12) +15 - 60

print(m,s)

In [ ]:
15 + (3*12) +15

In [ ]:
7:30:06

In [ ]:
#from __future__ import print_function, division
from datetime import datetime


class Time():

    def __init__(self):
        self.hour = 0
        self.minute = 0
        self.second = 0
        
        
    def set_time(self, h, m , s):
        self.hour = h
        self.minute = m
        self.second = s
        
        
    def add_time(self, h, m, s):
        s += self.second
        m += self.minute
        h += self.hour
        
        minutes, self.second = divmod(s, 60)
        m += minutes
        hours, self.minute = divmod(m, 60)
        self.hour += hours

In [ ]:
t = Time()
t.set_time(6,52,0)
t.__dict__

In [ ]:
t.add_time(0,8,15)
t.__dict__

In [ ]:
t = Time()
t.set_time(6,52,0)
t.add_time(0,8,15)
t.add_time(0,7*3,12*3)
t.add_time(0,8,15)
t.__dict__

# Chapter 3: Functions

In [ ]:
import math
import traceback

In [ ]:
math.pi

In [ ]:
math.frexp(3)

In [ ]:
DICT ={ "a" :25, "b" :65 }

try:
    print(DICT["A"])
    
except:
    traceback.print_exc()

# Chapter 4: interface design

In [ ]:
import turtle
bob = turtle.Turtle()

In [ ]:
bob.fd(100)
bob.lt(90)
bob.fd(100)

In [ ]:
turtle.mainloop()

In [ ]:
turtle.done()

In [ ]:
def square(t):
    for i in range(4):
        t.fd(100)
        t.lt(90)

In [ ]:
square(turtle.Turtle())

In [6]:
import turtle
def polygon(t, n, length):
    angle = 360 / n
    for i in range(n):
        t.fd(length)
        t.lt(angle)

In [7]:
import turtle
polygon(turtle.Turtle(), 7, 70)

In [8]:
polygon(turtle.Turtle(), 360, 2)

In [4]:
import math

def circle(t, r):
    n = 360
    circ = math.pi * r
    l = circ / n
    polygon(t,n,l)

In [9]:
circle(turtle.Turtle(), 100)

In [1]:
import turtle
import math

def arc(t, r, angle):
    arc_length = 2 * math.pi * r * angle / 360
    n = int(arc_length / 3) + 1
    step_length = arc_length / n
    step_angle = angle / n
    
    
    for i in range(n):
        t.fd(step_length)
        t.lt(step_angle)

In [2]:
arc(turtle.Turtle(), 10, 20)

In [13]:
def isosceles(t, l, theta):
	# t : turtle
	# l: length of legs
	# theta: inner angle 
	
	b = 2 * l * math.sin(((theta/2)/180) * math.pi) #base length
	
	t.fd(l)
	t.rt(90+theta/2)
	t.fd(b)
	t.rt(90+theta/2)
	t.fd(l)
	t.lt(180)
	


def pie(t, n, l):
	# t : turtle
	# n : the amount of pieces of pie
	# l : the length of leg
	
	theta = 360.0 / n # inner angle
	for i in range(n):
		isosceles(t, l, theta)

In [ ]:
#from swampy.TurtleWorld import *
import math

In [14]:
bob = turtle.Turtle()
bob.delay = 0.001

pie(bob, 5, 30)
bob.pu()
bob.fd(120)
bob.pd()

pie(bob, 6, 30)
bob.pu()
bob.fd(120)
bob.pd()

pie(bob, 7, 30)
bob.pu()
bob.fd(120)
bob.pd()

pie(bob, 8, 30)
bob.pu()
bob.fd(120)
bob.pd()

bob.die()
wait_for_user()

AttributeError: 'Turtle' object has no attribute 'die'

# Chapter 5: Conditionals and recursion

In [ ]:
import turtle

In [ ]:
name = input('What...is your name?\n')
print(name)

In [10]:
def draw(t, length, n):
    if n == 0:
        return
    angle = 50
    t.fd(length*n)
    t.lt(angle)
    draw(t, length, n-1)
    t.rt(2*angle)
    draw(t, length, n-1)
    t.lt(angle)
    t.bk(length*n)

In [11]:
draw(turtle.Turtle(), 10, 5)

In [ ]:
# area variables (in square meters)
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# house information as list of lists
house = [["hallway", hall],
         ["kitchen", kit],
         ["living room", liv],
         ["bedroom", bed],
         ["bathroom", bath]
         ]

In [ ]:
print(house)

In [ ]:
house[-1][1]

In [ ]:
def check_fermat(a,b,c,n):
    
    i = a**n + b**n
    x = c**n
    
    if  i == x :
        print('Holy smokes, Fermat was wrong!')
    else:
        print('No, that doesnâ€™t work.')

In [ ]:
import random
random.randint(1,1000)

In [ ]:
import time

In [ ]:
tff = time.strftime('%m/%d/%y %H:%M:%S',tf)
tff

In [ ]:
tff = time.strftime('%m/%d/%y %I:%M:%S',time.gmtime())
tff

In [ ]:
t = time.strftime('%m/%d/%Y %I:%M:%S',time.localtime())
t

In [ ]:
t = time.strftime('%I:%M:%S',time.localtime())
t

In [ ]:
dif =  time.mktime(time.localtime()) // (60*60*24)
dif

In [ ]:
"42 0".split()

In [ ]:
args = map(int, "42 0".split())
a, b = list(args)

In [ ]:
a

In [ ]:
b

# chapter 10: Lists

# chapter 11: Dictionaries

In [4]:
def histogram(s):
    d = dict()
    for c in s:
        if c not in d:
            d[c] = 1 
        else:
            d[c] += 1
    return d

In [6]:
def histogram2(s):
    d = dict()
    for c in s:
        d[c] = d.get(c,0) +1
    return d

In [5]:
h = histogram('brontosaurus')
h

{'b': 1, 'r': 2, 'o': 2, 'n': 1, 't': 1, 's': 2, 'a': 1, 'u': 2}

In [7]:
h = histogram2('brontosaurus')
h

{'b': 1, 'r': 2, 'o': 2, 'n': 1, 't': 1, 's': 2, 'a': 1, 'u': 2}

In [8]:
known = {0:0, 1:1}

def fibonacci(n):
    if n in known:
        return known[n]
    res = fibonacci(n-1) + fibonacci(n-2)
    known[n] = res
    return res

In [14]:
fibonacci(5)

5

# chapter 15: Classes and objects

In [ ]:
class Point():

In [ ]:
divmod(90, 60)

# Chapter 16: Classes and functions

In [ ]:
import time

In [ ]:
t = time.localtime()
t

In [ ]:


m,s =divmod(t.tm_sec * 4, 60)

In [ ]:
h,m = divmod(t.tm_min)

In [ ]:
time.time()

In [ ]:
time.localtime(time.time()*4)

In [ ]:
from __future__ import print_function, division
from datetime import datetime


class Time():

    def __init__(self):
        self.hour = 0
        self.minute = 0
        self.second = 0


def time_to_int(time):
    """Computes the number of seconds since midnight.

    time: Time object.
    """
    minutes = time.hour * 60 + time.minute
    seconds = minutes * 60 + time.second
    return seconds


def mul_time(time, factor):
    """Multiplies a Time object by a factor."""
    #assert valid_time(t1)
    seconds = time_to_int(time) * factor
    return int_to_time(seconds)
    
def int_to_time(seconds):
    """Makes a new Time object.

    seconds: int seconds since midnight.
    """
    time = Time()
    minutes, time.second = divmod(seconds, 60)
    time.hour, time.minute = divmod(minutes, 60)
    return time


def avg_pace(time, dist):
    pace = dist / (time_to_int(time)/60/60)
    return int_to_time(pace*60*60)

In [ ]:
t = Time()
t.hour = 1
t.minute = 0

t2 = mul_time(t,3)
t2.__dict__




t3 = avg_pace(t2,500)
t3.__dict__

In [ ]:
print(45 / (time_to_int(t2)/60/60) )

In [ ]:
t = Time()
t.hour =1

t3 = avg_pace(t,10)
t3.__dict__

Exercise 16.2. The datetime module provides time objects that are similar to the Time objects in this chapter, but they provide a rich set of methods and operators. Read the documentation at http: // docs. python. org/ 3/ library/ datetime. html .
1. Use the datetime module to write a program that gets the current date and prints the day of the week.
2. Write a program that takes a birthday as input and prints the userâ€™s age and the number of days, hours, minutes and seconds until their next birthday.
3. For two people born on different days, there is a day when one is twice as old as the other. Thatâ€™s their Double Day. Write a program that takes two birth dates and computes their Double Day.
4. For a little more challenge, write the more general version that computes the day when one person is n times older than the other.

In [ ]:
import datetime

In [ ]:
t = time.strftime('%A',time.localtime())
t

In [ ]:
import datetime

def birthday():
    b_str = input('What is your birthday dd/mm/yyyy \n')
    b_day = time.strptime(b_str, '%d/%m/%Y')
    now = time.localtime()
    age = now.tm_year - b_day.tm_year
    print('\n --- age:', age )

In [ ]:
b_str = birthday()

In [ ]:
t = time.strptime('26 Sep 2012', '%d %b %Y')
t

In [ ]:
t = time.strptime('23 1 1973', '%d %m %Y')
t

In [ ]:
b_day = time.strptime('23/1/1973', '%d/%m/%Y')
now = time.localtime()

In [ ]:
age = now.tm_year - b_day.tm_year
age

In [ ]:
t = time.mktime(now) - time.mktime(b_day)
diff = t / 60 / 60 / 24 / 365
diff

In [ ]:
import time

def double_day(b1, b2):

    #print(type(b1),type(b2))
    
    a1 = 0
    a2 = 0
    
    if (b1 == b2):
        return a1, a2
   
    now = time.localtime()
    
    #print(type(b1),type(b2))
    a1 = now.tm_year - b1.tm_year
    a2 = now.tm_year - b2.tm_year

    while(a1!=0 and a2!=0):
        #print(a1, a2)
        a1 -= 1
        a2 -= 1
        if (a1*2 == a2 or a1 == a2*2) : return a1, a2
 

    a1 = now.tm_year - b1.tm_year
    a2 = now.tm_year - b2.tm_year
    while(a1*2 != a2 and a1 != a2*2):
        a1 += 1
        a2 += 1

        
    return a1, a2

In [ ]:
b_day1 = time.strptime('23/1/1900', '%d/%m/%Y')
b_day2 = time.strptime('23/1/1973', '%d/%m/%Y')



#type(b_day2)
a1, b1 = double_day(b_day1, b_day2)
print(a1, b1)

In [ ]:
import time

def double_time(b_day1,b_day2): 
    
    b1 = b_day1.tm_year
    b2 = b_day2.tm_year
    
    print("Double Day is")
    d1 = min(b1, b2)
    d2 = max(b1, b2)
    dd = d2 + (d2 - d1)
    print(dd)
    
    return dd

In [ ]:
b_day1 = time.strptime('23/1/1900', '%d/%m/%Y')
b_day2 = time.strptime('23/1/1973', '%d/%m/%Y')
dd = double_time(b_day1,b_day2)
print(dd, dd-b_day1.tm_year, dd-b_day2.tm_year)

In [ ]:
import time

def n_time(b_day1,b_day2,n): 
    
    b1 = b_day1.tm_year
    b2 = b_day2.tm_year
    
    print("Double Day is")
    d1 = min(b1, b2)
    d2 = max(b1, b2)
    dd = (d2 + (d2 - d1)) * (n-1)
    print(dd)
    
    return dd

In [ ]:
b_day1 = time.strptime('23/1/1900', '%d/%m/%Y')
b_day2 = time.strptime('23/1/1973', '%d/%m/%Y')
now = time.localtime()
dd = n_time(b_day1,b_day2, 10)
print(dd, now.tm_year-b_day1.tm_year, now.tm_year-b_day2.tm_year)

# Chapter 17: Classes and methods

In [ ]:
class Time_17(Time):
    
    def __radd__(self, other):
        return self.__add__(other)
    
    
    def __add__(self, other): 
        
        self.minute += other
        
        return self.minute

In [ ]:
t = Time_17()
t.hour = 12

t.__dict__

In [ ]:
t = 12 + t

t

In [ ]:
import datetime

In [ ]:
datetime_object = datetime.datetime.now()
print(datetime_object)

In [ ]:
t = datetime.datetime.now()
t

In [ ]:
type(t)

In [ ]:
t = datetime.datetime.today()
t

In [ ]:
from datetime import date

In [ ]:
timestamp = datetime.date.fromtimestamp(1326244364)
print("Date =", timestamp)
print("Date =", timestamp.year)
print("Date =", timestamp.month)
print("Date =", timestamp.day)

In [ ]:

from datetime import datetime

#datetime(year, month, day)
a = datetime(2018, 11, 28)
print(a)

# datetime(year, month, day, hour, minute, second, microsecond)
b = datetime(2017, 11, 28, 23, 55, 59, 342380)
print(b)

In [ ]:
import datetime
time_1 = datetime.timedelta(hours= 10 , minutes=20, seconds=30)
time_1

# Chapter 19: The Goodies

In [ ]:
def binomial_coeff(n, k):
    """Compute the binomial coefficient "n choose k".
    n: number of trials
    k: number of successes
    returns: int
    """
    
    if k == 0:
        return 1
    if n == 0:
        return 0
    
    res = binomial_coeff(n-1, k) + binomial_coeff(n-1, k-1)
    return res

In [ ]:
def binomial_coeff2(n, k):
    return 1 if k == 0 else 0 if n==0 else  binomial_coeff2(n-1, k) + binomial_coeff2(n-1, k-1)

In [ ]:
binomial_coeff(9,3)

In [ ]:
binomial_coeff2(9,3)